# ETL/ELT

### 4.2.1

# JSON
use `json` and `pandas` to load and normalize the data

Note that pandas has a `json_normalize` function

File URL:

https://storage.googleapis.com/summer-school-pfds-2020/raw_nyc_phil.json

In [2]:
# Uncomment following code to download file directly
!wget https://storage.googleapis.com/summer-school-pfds-2020/raw_nyc_phil.json

# wget is available OSX and Linux machines, needs installing on Windows

--2020-08-18 18:41:12--  https://storage.googleapis.com/summer-school-pfds-2020/raw_nyc_phil.json
Resolving storage.googleapis.com (storage.googleapis.com)... 172.217.168.240, 216.58.208.112, 172.217.17.144, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|172.217.168.240|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22924462 (22M) [application/json]
Saving to: ‘raw_nyc_phil.json.1’

raw_nyc_phil.json.1 100%[===================>]  21.86M  7.57MB/s    in 2.9s

2020-08-18 18:41:15 (7.57 MB/s) - ‘raw_nyc_phil.json.1’ saved [22924462/22924462]

In [4]:
# Uncomment following Python code to download a file directly from given url
import requests

url = "https://storage.googleapis.com/summer-school-pfds-2020/raw_nyc_phil.json"
file_name = "raw_nyc_phil.json"

r = requests.get(url)

with open(file_name, 'wb') as f:
    f.write(r.content)

### 1. What is the top 10 of composers by highest number of works?

In [5]:
import json
import pandas as pd

In [13]:
d['programs'][0];

In [6]:
with open("raw_nyc_phil.json") as f:
    d = json.load(f)

In [16]:
a = {5: 4, "hoi": "hallo"}

In [17]:
a.keys()

dict_keys([5, 'hoi'])

In [18]:
data = d['programs']

In [19]:
pd.json_normalize(data=data, record_path='works', meta=['id', 'orchestra'])

,workTitle,conductorName,ID,soloists,composerName,movement,interval,movement.em,movement._,workTitle.em,workTitle._,id,orchestra
0,"SYMPHONY NO. 5 IN C MINOR, OP.67","Hill, Ureli Corelli",52446*,[],"Beethoven, Ludwig van",NaN,NaN,NaN,NaN,NaN,NaN,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic
1,OBERON,"Timm, Henry C.",8834*4,"[{'soloistName': 'Otto, Antoinette', 'soloistR...","Weber, Carl Maria Von","""Ozean, du Ungeheuer"" (Ocean, thou mighty mons...",NaN,NaN,NaN,NaN,NaN,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic
2,"QUINTET, PIANO, D MINOR, OP. 74",NaN,3642*,"[{'soloistName': 'Scharfenberg, William', 'sol...","Hummel, Johann",NaN,NaN,NaN,NaN,NaN,NaN,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic
3,NaN,NaN,0*,[],NaN,NaN,Intermission,NaN,NaN,NaN,NaN,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic
4,OBERON,"Etienne, Denis G.",8834*3,[],"Weber, Carl Maria Von",Overture,NaN,NaN,NaN,NaN,NaN,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82788,MEMORIES OF MARNYI STONE,"Gersen, Joshua",12636*,[],"Feng, Shuya",NaN,NaN,NaN,NaN,NaN,NaN,68625626-8085-44e4-bdb3-d8e6ac51c95b,New York Philharmonic
82789,"SYMPHONY NO. 9, E MINOR, OP.95 (FROM THE NEW W...","Gersen, Joshua",2877*4,[],"Dvorak, Antonín",Allegro con fuoco,NaN,NaN,NaN,NaN,NaN,68625626-8085-44e4-bdb3-d8e6ac51c95b,New York Philharmonic
82790,QUIET CITY,"Gilbert, Alan",52332*,"[{'soloistName': 'Martin, Christopher', 'soloi...","Copland, Aaron",NaN,NaN,NaN,NaN,NaN,NaN,5c22d35f-a282-4505-bd31-df619c74f52b,New York Philharmonic
82791,"JUNGLE, THE (SYMPHONY NO. 4)","Gilbert, Alan",12071*,[{'soloistName': 'Jazz at Lincoln Center Orche...,"Marsalis, Wynton",NaN,NaN,NaN,NaN,NaN,NaN,5c22d35f-a282-4505-bd31-df619c74f52b,New York Philharmonic
82792,C JAM BLUES,NaN,8152*,[{'soloistName': 'Jazz at Lincoln Center Orche...,"Ellington, Duke",NaN,NaN,NaN,NaN,NaN,NaN,5c22d35f-a282-4505-bd31-df619c74f52b,New York Philharmonic

# XML

# BeautifulSoup

In [21]:
!pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in /Users/sijmen/anaconda3/envs/summerschool/lib/python3.8/site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /Users/sijmen/anaconda3/envs/summerschool/lib/python3.8/site-packages (from BeautifulSoup4) (2.0.1)

In [22]:
from bs4 import BeautifulSoup

In [23]:
with open("merchant.xml") as f:
    xml_str = f.read()

In [24]:
soup = BeautifulSoup(xml_str, 'html.parser')

In [41]:
line_counter = 0

for speech_part in soup.find_all("speech"):
    for line in speech_part.find_all("line"):
        print(line)

<line>In sooth, I know not why I am so sad:</line>
<line>It wearies me; you say it wearies you;</line>
<line>But how I caught it, found it, or came by it,</line>
<line>What stuff 'tis made of, whereof it is born,</line>
<line>I am to learn;</line>
<line>And such a want-wit sadness makes of me,</line>
<line>That I have much ado to know myself.</line>

In [42]:
a = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [43]:
for lst in a:
    for number in lst:
        print(number)

1
2
3
4
5
6
7
8
9

# SQL

In [45]:
import sqlite3

In [46]:
conn = sqlite3.connect("city.db")

In [48]:
cur = conn.cursor()
cur.execute("SELECT * FROM city")

rows = cur.fetchall()

In [50]:
rows[:5]

[('Abilene', '115930'),
 ('Akron', '217074'),
 ('Albany', '93994'),
 ('Albuquerque', '448607'),
 ('Alexandria', '128283')]

In [51]:
import sqlite3
import pandas as pd

In [54]:
conn = sqlite3.connect("city.db")

df = pd.read_sql("SELECT * FROM city", conn)

In [59]:
df

              name population
0          Abilene     115930
1            Akron     217074
2           Albany      93994
3      Albuquerque     448607
4       Alexandria     128283
..             ...        ...
269        Wichita     344284
270  Wichita Falls     104197
271  Winston-Salem     185776
272      Worcester     172648
273        Yonkers     196086

[274 rows x 2 columns]

In [60]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/sijmen/anaconda3/envs/summerschool/lib/python3.8/site-packages (1.3.19)

In [62]:
from sqlalchemy import create_engine

In [67]:
engine = create_engine("sqlite:///city.db")

df = pd.read_sql("SELECT * FROM city", engine)